*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.body{
    background-color: rgb(30, 86, 4);
}
.text_center{
    text-align: center;
    color: rgb(14, 28, 41);
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color:#acb3b0;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
}
.title_small{
    font-size: 15px;
    font-weight: bold;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

}

.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-top: 10px;
}

input, select, textarea{
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 15px;
}
input, select, textarea:focus{
    outline-color: red;
}

.button_containe{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: gray;
    border: 1px solid red;
    transition: 0.3s ease-out;
    cursor: pointer;
}

#resume_upload{
    border: none;
}

.address_control{
    grid-column: 1/ span 2;
}

.address_control textarea{
    width: 100%;
    resize: none;
}

@media(max-width: 460px)
{
    .address_control textarea{
        width: 100%;
    }
}